<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.0">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.0">
    <script>node(&apos;jdk8&apos;) {

   // define commands
   def mvnHome = tool &apos;M3&apos;
   def mvnCmd = &quot;${mvnHome}/bin/mvn -s ${env.JENKINS_HOME}/settings.xml&quot;
   def ocCmd = &quot;/usr/bin/oc --token=`cat /var/run/secrets/kubernetes.io/serviceaccount/token` --server=https://openshift.default.svc.cluster.local --certificate-authority=/run/secrets/kubernetes.io/serviceaccount/ca.crt&quot;


   stage &apos;Build&apos;
   git url: &apos;https://github.com/siamaksade/openshift-tasks.git&apos;
   sh &quot;${mvnCmd} clean install&quot;

   stage &apos;Test&apos;
   sh &quot;${mvnCmd} test&quot;

   stage &apos;Static Analysis&apos;
   sh &quot;${mvnCmd} sonar:sonar&quot;

   stage &apos;Push to Nexus&apos;
   sh &quot;${mvnCmd} deploy&quot;

   stage &apos;Deploy DEV&apos;
   sh &quot;rm -rf oc-build &amp;&amp; mkdir -p oc-build/deployments&quot;
   sh &quot;cp target/jboss-tasks-rs.war oc-build/deployments/ROOT.war&quot;
   sh &quot;${ocCmd} start-build tasks --from-dir=oc-build -n dev&quot;
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>
